
.searchHead {
  display: flex;
  align-items: center;
  margin: 25px;
  max-width: 1200px;
}

.logoLarge {
  width: 125px;
  height: 42px;
  margin: 0 25px;
}

.searchBar {
  border: 1px solid #666;
  border-radius: 25px;
  margin-left: 25px;
}

.search {
  display: flex;
  outline: none;
  border: none;
  border-style: none;
  margin-left: 20px;
  max-width: 800px;
  min-width: 550px;
  font-size: 18px;
}

.searchBar {
  display: flex;
}

.searchBar .fa-x {
  margin: 5px 5px 0 0;
  font-size: var(--size-20);
}

.pipeIcn,
.microphoneIcn,
.searchIcn,
.apps {
  position: relative;
  top: 7px;
  color:rgba(92, 92, 92, 0.8);
  font-size:20px;
  margin-right: 10px;
  margin-left: 5px;
}

.headEnd {
  display: flex;
  margin-left: 100px;
}

.apps {
  margin-left: 100px;
}

.account {
  position: relative;
  top: 3px;
  padding-left: 15px;
}

.optionsBar {
  display: flex;
  margin-left: 220px;
}

.optionsBar img{
  position: relative;
  top: 5px;
  margin-left: 15px;
  height: 20px;
}

.optionsBar span{
  font-size: 15px;
}

.optionsEnd {
  margin-left: 75px;
}

.optionsEnd span{
  margin: 0 10px;
}

hr {
  border: 0;
  border-top: 2px solid rgba(92, 92, 92, 0.2);
}

.mainContainer {
  display: grid;
  margin-left: 240px;
  max-width: 500px;
}

.meter {
  font-size: 15px;
}

.results {
margin-top: 25px;
}

.results span {
  font-size: 15px;
}

.results h3 {
  margin: 0;
  color: #5950C2;
}

.results h2 {
  margin: 0;
  color: #5950C2;
  font-size: 15px;
}

.alsoAsk {
  display: grid;
  margin-top: 25px;
  margin-left: 25px;
  border: 2px solid rgba(92, 92, 92, 0.2);
  border-radius: 8px;
}

.alsoAsk h3{
  margin: 5px 0;
  padding-left: 17px;
}

.list {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgba(92, 92, 92, 0.2);
}

.alsoAsk .list div {
  padding-left: 10px;
}

.alsoAsk .list h4{
  margin: 10px 0;
  padding-left: 10px;
}

.alsoAsk .list img{
  margin-left: 165px;
  margin-right: 11px;
  margin-top: 10px;
  padding-left: 10px;
}

.foot {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-right: 15px;
}

.nextPage {
  margin-left: 50px;
  margin-bottom: 100px;
}

.bottomSpace {
  margin: 150px;
}